# ******sets
# * rept by {} only  same as "dict" but it contain elements in it but dict contain some other

# * it is not having any duplicate elements(repetative)
# * it does not support indexing

In [1]:
set_type=set()

In [2]:
type(set_type)

set

In [4]:
print(type(set_type))

<class 'set'>

In [5]:
set_type={1,2,3,4,5}

In [6]:
type(set_type)

set

In [10]:
set2={2,3,4,5,6}

In [8]:
set_type.add(25)

In [9]:
set_type

{1, 2, 3, 4, 5, 25}

In [11]:
set_type.difference(set2)

{1, 25}

In [13]:
set2.difference(set_type) #elements not present in set_type compared to set2 will be given as new set

{6}

In [14]:
set_type.discard(25)

In [15]:
set_type

{1, 2, 3, 4, 5}

In [16]:
set_type.intersection(set2)

{2, 3, 4, 5}

In [20]:
set_type.intersection_update(set2) # set_type will be updated as a new set

In [18]:
set_type

{2, 3, 4, 5}

In [19]:
set2

{2, 3, 4, 5, 6}

In [21]:
set_type.symmetric_difference(set2)

{6}

In [25]:
set2.symmetric_difference(set_type)

{6}

In [22]:
set_type

{2, 3, 4, 5}

In [23]:
set2

{2, 3, 4, 5, 6}

In [24]:
set_type.difference(set2)

set()

In [26]:
set2.difference(set_type)

{6}

In [29]:
a={1,2,3,4}

In [30]:
type(a)

set

# *Dictionary
# * does not support indexing only sub-setting

In [46]:
ranking={"rank1":"syed","rank2":"nikhil","rank3":"manikumar"}

In [47]:
ranking

{'rank1': 'syed', 'rank2': 'nikhil', 'rank3': 'manikumar'}

In [39]:
ranking["rank1"]

'syed'

In [61]:
for i in ranking:
    print(i)

rank1
rank2
rank3

In [70]:
for i in ranking.values():
    print(i)

syed
nikhil
manikumar

In [68]:
for i in ranking.items():
    print(i)

('rank1', 'syed')
('rank2', 'nikhil')
('rank3', 'manikumar')

In [71]:
ranking["rank4"]="saikrishna"

In [72]:
ranking

{'rank1': 'syed',
 'rank2': 'nikhil',
 'rank3': 'manikumar',
 'rank4': 'saikrishna'}

In [73]:
ranking["rank2"]="divya"

In [74]:
ranking

{'rank1': 'syed',
 'rank2': 'divya',
 'rank3': 'manikumar',
 'rank4': 'saikrishna'}

# *NESTED dictionary

In [78]:
institute1={"syed":"insofe"}
institute2={"divya":"insofe"}
institute3={"manikumar":"insofe"}
institute4={"saikrishna":"insofe"}

list={"rank1":institute1,"rank2":institute2,"rank3":institute3,"rank4":institute4}

In [79]:
list

{'rank1': {'syed': 'insofe'},
 'rank2': {'divya': 'insofe'},
 'rank3': {'manikumar': 'insofe'},
 'rank4': {'saikrishna': 'insofe'}}

In [80]:
print(list)

{'rank1': {'syed': 'insofe'}, 'rank2': {'divya': 'insofe'}, 'rank3': {'manikumar': 'insofe'}, 'rank4': {'saikrishna': 'insofe'}}

In [81]:
list["rank1"]

{'syed': 'insofe'}

In [84]:
list["rank1"]["syed"]

'insofe'

# *tuples

In [85]:
my_tuple=tuple()

In [86]:
type(my_tuple)

tuple