# **booleaN

# * if we want to add any thing at the end of the list we use append
# * if we want  to insert in a particular position use "insert"

# * if we dont list in a list just want to continue in the list use "extend"

# * pop() will remove last element in the list
# * pop(1) will remove 1st index element in thelist

# * count( any number)  will count number of time the number occurs in the list
# * index(1) will tell in which index the number "1" is present .... we can give min and max index values also

In [1]:
True

True

In [2]:
False

False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [5]:
my_str="mani kumar"

In [7]:
print(my_str.isalnum())

False

In [10]:
my_str.capitalize()

'Mani kumar'

In [11]:
my_str

'mani kumar'

In [13]:
my_str.casefold() #removes all special cases like german words

'mani kumar'

In [14]:
my_str.isascii()

True

In [24]:
my_str.join(my_str1)

'rmani kumaromani kumaromani kumarpmani kumaremani kumarsmani kumarh'

In [22]:
my_str1="roopesh"

In [23]:
my_str.replace(my_str,my_str1)

'roopesh'

In [25]:
my_str.islower()

True

# boolean and logical operators

In [26]:
True and True

True

In [27]:
True or True

True

In [28]:
False and False

False

In [29]:
False or False

False

In [31]:
True or False

True

In [32]:
True and False

False

In [33]:
a=10
b=20

In [34]:
a>b

False

In [35]:
a<b

True

In [36]:
a>=b

False

In [37]:
a<=b

True

# *list

In [38]:
type([])

list

In [39]:
type(())

tuple

In [40]:
type({})

dict

In [45]:
a=[] #creating an empty list

In [42]:
type(a)

list

In [43]:
lst=list() #creating an empty list

In [44]:
type(lst)

list

# INDEXING

In [56]:
list=[1,2,3,4,5,6,"manikumar","nikhil"]

In [47]:
list[1]

2

In [48]:
list[0]

1

In [49]:
list[7]

'nikhil'

In [50]:
list.append("roopesh")

In [51]:
list

[1, 2, 3, 4, 5, 6, 'manikumar', 'nikhil', 'roopesh']

In [54]:
list.clear()

In [55]:
list

[]

In [57]:
list.copy()

[1, 2, 3, 4, 5, 6, 'manikumar', 'nikhil']

In [60]:
list.count(1)

1

In [61]:
list.reverse()

In [62]:
list

['nikhil', 'manikumar', 6, 5, 4, 3, 2, 1]

In [64]:
list[:]

['nikhil', 'manikumar', 6, 5, 4, 3, 2, 1]

In [65]:
list[1:]

['manikumar', 6, 5, 4, 3, 2, 1]

In [67]:
list[1:4]

['manikumar', 6, 5]

In [68]:
list[-1]

1

In [83]:
list[-6:]

[6, 5, 4, 3, 2, 1]

In [84]:
list[-6:-3]

[6, 5, 4]

# *list inside a list is called nested list

In [85]:
list.append(["samantha","regina"])

In [86]:
list

['nikhil', 'manikumar', 6, 5, 4, 3, 2, 1, ['samantha', 'regina']]

In [88]:
list.insert(3,"insofe")

In [89]:
list

['nikhil', 'manikumar', 6, 'insofe', 5, 4, 3, 2, 1, ['samantha', 'regina']]

In [90]:
list3=[2,3,4,5,6,7,8]

In [91]:
sum(list3)

35

In [95]:
list3.append([3,4,5])

In [96]:
list3

[2, 3, 4, 5, 6, 7, 8, [3, 4, 5]]

In [97]:
list3.index(3)

1

In [99]:
list3.extend([1,2,3])

In [100]:
list3

[2, 3, 4, 5, 6, 7, 8, [3, 4, 5], 1, 2, 3]

In [104]:
list3.sort

In [105]:
list3

[2, 3, 4, 5, 6, 7, 8, [3, 4, 5], 1, 2, 3]

In [107]:
list3.pop(5)

7

In [108]:
list3.count(1)

1

In [109]:
list3*2

[2, 3, 4, 5, 6, 8, [3, 4, 5], 1, 2, 2, 3, 4, 5, 6, 8, [3, 4, 5], 1, 2]

In [110]:
list

['nikhil', 'manikumar', 6, 'insofe', 5, 4, 3, 2, 1, ['samantha', 'regina']]